.navigation {
  background-color: #171718;
  color: #fff;
  border-bottom: 1px solid #26292D;
  position: sticky;
  top: 0;
  z-index: 9999;

  .container {
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    .navigationRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
      row-gap: 20px;

      .navigationLogo {

        .navigationLogoLink {
         width: 80px;
        }
      }

      .navigationList {
        display: flex;
        align-items: center;
        column-gap: 40px;
        list-style: none;

        .navigationListItem {

          .navigationListItemLink {
            font-family: "JetBrains Mono", serif;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}