.container {
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  .productPage {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
  }

  .videoContainer {
    width: 630px;
    height: 400px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .productContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .arrowContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: -30px;
    right: -30px;
    transform: translateY(-50%);
  }

  .leftArrow,
  .rightArrow {
    font-size: 35px;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    padding: 5px;
    z-index: 1;
    cursor: pointer;
  }

  .productInfo {
    padding: 10px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}

.slideStyle {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.sliderStyle {
  height: 100%;
  position: relative;
  color: black;
}

.leftArrow {

}

.rightArrow {

}

.cartInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;

  img {
    width: 30px;
  }
}

.favoriteInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 30px;
  }
}