.container {

  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  .productPage {
    display: flex;
  }

  .productPageVideo {
    width: 50%;
  }

  .productPageDetails {
    width: 50%;
    display: flex;
  }

  .productPageImage {
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }


  .productPageInfo {
    width: 50%;
    padding: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}