.favoritesEmpty {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;

  .favoritesEmptyImage {
    width: 350px;
  }

  .favoritesEmptyMessage {
    font-size: 25px;
  }
}