.container {
  display: flex;
  align-items: center;
  padding: 60px 0 0;
  max-width: 1200px;

  .selectContainer {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: "JetBrains Mono", serif;
    outline: none;
  }
}