.container {
  align-items: center;
  margin: 0 auto;
  padding: 60px 0 0;
  max-width: 1200px;

  .searchBox {
    position: relative;
    width: 400px;
    height: 50px;
    margin: 0 auto;

    input {
      font-family: "JetBrains Mono", serif;
      height: 50px;
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      outline: none;
    }
    .searchButton {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: #f8f8f8;
      cursor: pointer;
      outline: none;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}