.footer {
  background-color: #171718;
  padding: 30px 0 30px;
  color: #fff;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;

  .container {
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    .footerWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 27px;
      padding: 10px;

      .social {
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 30px;

        .socialItem {
          width: 50px;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;
      list-style: none;
      column-gap: 30px;

      .link {

      }
    }

  }
}